ConfigurationInjector/ConfigurationInjector/XML Schemas/MapSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mappings">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" name="map">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="to" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="key" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>